.contact-form-setup-layout {
	border: 2px solid #fff;
	padding: 5px 0;		
	background-color: #BFBFBF;
	border-radius: 7px;
	padding: 4px;
	margin: 0px;
	border-radius: 12px;
	margin-bottom: 10px;
}
.contact-form-setup-layout > div {
	border: 2px solid #BFBFBF;
	background-color: #7F7F7F;
	padding: 2px 4px;
	border-radius: 8px;
	min-height: 1.75em;
}


.contact-form-setup-field-wrapper {
	margin: 8px -7px;
	margin: 2px 0;
	border: 2px solid #000000;
	background-color: #FFFFFF;
	margin: 3px 1px;
	border-radius: 4px;
}
.contact-form-setup-field-wrapper .field-padding {
	padding: 6px 9px;
	overflow: auto;
}

.contact-form-setup-field-wrapper .key {
	font-weight: 800;
	text-decoration: underline;
}
.contact-form-setup-field-wrapper .value {
	font-family: monospace;
	font-style: italic;
	font-weight: 400;
}

.contact-form-setup-field-wrapper .type {
	font-style: italic;
}

.contact-form-setup-field-wrapper.wrapper-type-date { background-color: #D8B191;}
.contact-form-setup-field-wrapper.wrapper-type-datetime-local { background-color: #C9D27F;}
.contact-form-setup-field-wrapper.wrapper-type-email { background-color: #E6CAB4;}
.contact-form-setup-field-wrapper.wrapper-type-month { background-color: #6D97C8;}
.contact-form-setup-field-wrapper.wrapper-type-number { background-color: #BA557F;}
.contact-form-setup-field-wrapper.wrapper-type-tel { background-color: #BBA2E0;}
.contact-form-setup-field-wrapper.wrapper-type-text { background-color: #CAEBC1;}
.contact-form-setup-field-wrapper.wrapper-type-time { background-color: #434EAC;}
.contact-form-setup-field-wrapper.wrapper-type-url { background-color: #CCDFED;}

.contact-form-setup-field-wrapper .label { display: inline-block; }
.contact-form-setup-field-wrapper [name="required"] { background-color: #9D5E00; }
.contact-form-setup-field-wrapper [name="identifier"] { background-color: #008000; }
.contact-form-setup-field-wrapper [name="placeholder"] { background-color: #2E5B80; }
.contact-form-setup-field-wrapper [name="label"] { background-color: #6A0980; }
.contact-form-setup-field-wrapper [name="type"] { background-color: #7A8003; }
