.easy-contact-form form {
	transition: all 0.25s ease-in-out;	
}

.easy-contact-form .fade {
	transition: .15s;
	visibility: hidden;
	opacity: 0;
}
.easy-contact-form .fade.in {
	visibility: visible;
	opacity: 1;
}

.easy-contact-form .status-message {
	z-index: 10000;
	background-color: #000;
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%;
}

.easy-contact-form .status-message .container {
	position: fixed;
	max-width: 500px;
	width: 100%;
	top: 35%;
	left: 50%;
    transform: translate(-50%, -35%);
    max-height: 100%;
    overflow: scroll;	
}

.easy-contact-form .panel {
	box-shadow: 0 6px 20px -4px rgba(0,0,0,0.7);
	margin-bottom: 0;
}

.easy-contact-form .progress {
	margin-bottom: 0;
}

.required .control-label::after, .help-block.required::before {
	content: '*';
	color: #C74053;
/* 	font-weight: 800; */
/* font-size: 1.5em; */
	margin-right: .25em;
}
.easy-contact-form textarea {
}

.easy-contact-form .textarea-height-0 { height: auto; }
.easy-contact-form .textarea-height-1 { height: 39px; }
.easy-contact-form .textarea-height-2 { height: 93px; }
.easy-contact-form .textarea-height-3 { height: 147px; }
.easy-contact-form .textarea-height-4 { height: 201px; }
.easy-contact-form .textarea-height-5 { height: 255px; }
.easy-contact-form .textarea-height-6 { height: 309px; }
.easy-contact-form .textarea-height-7 { height: 363px; }
.easy-contact-form .textarea-height-8 { height: 417px; }
.easy-contact-form .textarea-height-9 { height: 471px; }
