<div data-th-switch="${column_count}" data-th-remove="tag">

	<div data-th-case="'1'" data-th-remove="tag">
		<div class="row contact-form-setup-layout" data-th-attr="data-portal-component-type=${component.type}">
			<div class="col-xs-12">
				<div data-portal-region="column">
					<legend data-th-if="${component.config.legend}" data-th-text="${component.config.legend}" />
					<div data-th-each="component : ${column.components}" data-th-remove="tag">
						<div data-portal-component="${component.path}" data-th-remove="tag" 	/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div data-th-case="'2'" data-th-remove="tag">
		<div class="row contact-form-setup-layout" data-th-attr="data-portal-component-type=${component.type}">
			<div class="col-xs-6" data-portal-region="column_1">
				<div data-th-each="component : ${column_1.components}" data-th-remove="tag">
					<div data-portal-component="${component.path}" data-th-remove="tag" />
				</div>
			</div>
			<div class="col-xs-6" data-portal-region="column_2">
				<div data-th-each="component : ${column_2.components}" data-th-remove="tag">
					<div data-portal-component="${component.path}" data-th-remove="tag" />
				</div>
			</div>
		</div>
	</div>

	<div data-th-case="'3'" data-th-remove="tag">
		<div class="row contact-form-setup-layout" data-th-attr="data-portal-component-type=${component.type}">
			<div class="col-xs-4" data-portal-region="column_1">
				<div data-th-each="component : ${column_1.components}" data-th-remove="tag">
					<div data-portal-component="${component.path}" data-th-remove="tag" />
				</div>
			</div>
			<div class="col-xs-4" data-portal-region="column_2">
				<div data-th-each="component : ${column_2.components}" data-th-remove="tag">
					<div data-portal-component="${component.path}" data-th-remove="tag" />
				</div>
			</div>
			<div class="col-xs-4" data-portal-region="column_3">
				<div data-th-each="component : ${column_3.components}" data-th-remove="tag">
					<div data-portal-component="${component.path}" data-th-remove="tag" />
				</div>
			</div>
		</div>
	</div>

</div>
